.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

header {
  max-width: inherit;
  width: inherit;
  background-color: #f6f8f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  top: 0%;
  z-index: 1;
  padding: 21px 19px 19px 19px;
}
.logo {
  color: #fa6980;
  font-weight: bold;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes logo {
  0% {
    color: #fa6980;
    font-size: 10px;
  }
  25% {
    color: #f5b3be;
    font-size: 12px;
  }
  50% {
    color: #d42441;
    font-size: 14px;
  }
  100% {
    color: #791425;
    font-size: 16px;
  }
}

@keyframes logo {
  0% {
    color: #fa6980;
    font-size: 10px;
  }
  25% {
    color: #f5b3be;
    font-size: 12px;
  }
  50% {
    color: #d42441;
    font-size: 14px;
  }
  100% {
    color: #791425;
    font-size: 16px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}
.home {
  color: #343638;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
.nav_text:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fa6980;
          text-decoration-color: #fa6980;
  text-decoration-thickness: 2px;
}
a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fa6980;
          text-decoration-color: #fa6980;
  text-decoration-thickness: 2px;
}

.home:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fa6980;
          text-decoration-color: #fa6980;
  text-decoration-thickness: 2px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: #85878a;
  font-family: "Roboto Slab", serif;
}

.world_news {
  color: #85878a;
}
.world_news:active {
  color: black;
}

/*section1*/

.section1 {
  width: 100%;
  /*margin-top: 56px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.image_div {
  width: 60%;
  height: 37.5rem;
  width: 52.5rem;
  background-image: url(../imgs/main_pic.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.title1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #ffffff;
}
.title::after {
  content: "";
  width: 100%;
  height: 3%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-top: 2.5rem;
}
.title2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 15px;
}
.info_text {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: #ffffff;
  margin-top: -30px;
}
.learn_more {
  font-family: "Roboto Slab", serif;
  border: none;
  background-color: #fa6980;
  color: #ffffff;
  font-size: 0.688rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 15px;
}
.button {
  color: #ffffff;
}

/*section1*/

.articles {
  width: 30%;
  margin: 100px 100px 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}
.divvs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.upper_div {
  width: 100%;
  margin-top: 50px;
}
.below_div {
  width: 100%;
  margin-top: 50px;
}

.morenews_text {
  font-family: "Abel", sans-serif;
  color: #202124;
  font-size: 1.5rem;
  font-weight: bold;
}
.morenews_text::after {
  content: "";
  width: 100%;
  height: 3%;
  background-color: rgb(34, 21, 21);
  display: inline-block;
  margin-top: 10px;
}
.travel {
  font-family: "Abel", sans-serif;
  width: 100%;
  font-size: 1rem;
  color: #fa6980;
  font-weight: bold;
}

.title {
  width: 100%;
  font-size: 1rem;
  color: black;
  margin-bottom: -40px;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Abel", sans-serif;
}
.lorem {
  width: 100%;
  font-size: 1rem;
  color: #a6adb4;
  font-family: "Abel", sans-serif;
}
.time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a6adb4;
  margin-top: 10px;
  gap: 6px;
  font-family: "Abel", sans-serif;
}

/*section2*/

.section2 {
  width: 90%;
  margin: 0 auto;
}

.section_text {
  color: #202124;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: "Abel", sans-serif;
}
.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.div1 {
  width: 30%;
  background-color: white;
  border-radius: 15px;
}
.div1_1 {
  width: 30%;
  background-color: white;
  border-radius: 15px;
}
.pic {
  width: 100%;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}
.pic:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.teqst_div {
  width: 70%;
  margin-left: 40px;
  margin-top: 40px;
}
.div_text1 {
  width: 100%;
  font-size: 1rem;
  color: #202124;
  font-weight: bold;
  padding-left: 40px;
  font-family: "Abel", sans-serif;
}

.divtext {
  width: 100%;
  font-family: "Abel", sans-serif;
  font-size: 0.8rem;
  color: #a6adb4;
  padding: 12px 40px 39px 40px;
  color: #a6adb4;
  font-size: 0.81rem;
}
/*section2-is dasasruli*/

/*section3*/

.section3 {
  width: 90%;
  margin: 40px auto;
}
.happening_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec3_title {
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  color: #202124;
  font-weight: bold;
  margin-bottom: 40px;
}
.large_pics {
  width: 70%;
}
.large_pic1 {
  width: 90%;
  height: 430px;
  color: #ffffff;
  background-image: url(../imgs/large_image1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.city {
  padding: 40px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Font Awesome 6 free";
}
.article_title {
  margin-top: 230px;
  margin-left: 40px;
}
.article_title1 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Font Awesome 6 free";
}

.large_pic2 {
  width: 90%;
  height: 430px;
  color: #ffffff;
  background-image: url(../imgs/large_image2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 50px;
}

/*rightside,smallpics*/

.small_pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
  width: 30%;
}
.figure_pic1 {
  width: 100%;
  height: 210px;
  background-image: url(../imgs/small_pic1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small_title {
  margin-top: 250px;
  font-weight: bold;
  font-family: "Font Awesome 6 free";
}
.figure_pic2 {
  width: 100%;
  height: 210px;
  background-image: url(../imgs/small_pic2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
}
.figure_pic3 {
  width: 100%;
  height: 210px;
  background-image: url(../imgs/small_pic3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
}

/*footer*/
footer {
  width: 100%;
  background-color: #a6adb4;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_logo {
  padding-top: 59px;
  padding-left: 50px;
}
.footerlogo {
  font-size: 0.813rem;
  color: white;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ipsum {
  font-family: "Roboto Slab", serif;
}
.footer_nav {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 60px;
  padding-left: 82px;
}

.footernav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #cbd0d3;
  padding-top: 58px;
}

.footer_icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  padding-top: 58px;
  padding-right: 70px;
}
.fa-instagram {
  color: #ffffff;
}
.fa-twitter {
  color: #ffffff;
}
.fa-facebook {
  color: #ffffff;
}
.fa-earth-asia {
  color: #ffffff;
}

/*meore gverdi*/
/*header*/
.news2 {
  color: #343638;
  font-weight: bolder;
}
.nav_text1 {
  color: #85878a;
}

.nav_text1:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fa6980;
          text-decoration-color: #fa6980;
  text-decoration-thickness: 2px;
}

.world_section {
  width: 80%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 103px auto 40px auto;
}

.worldnew_photo {
  width: 40%;
  background-image: url(../imgs/worldnews.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 580px;
}
.worldnews_text {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
}

.form_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.form_div {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 124px 0 90px 0;
  gap: 20px;
}

.search_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.submit_button {
  padding: 16px 29px 16px 30px;
  margin-top: 40px;
  border: none;
  border-radius: 15px;
  background-color: #fa6980;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  color: white;
}

/*meore section*/

.info_section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px auto 46px auto;

  border-bottom: 2px solid #ebeded;
  border-top: 2px solid #ebeded;
}

.information_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 42px;
}

.logo_text {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.page2_logo {
  width: 40px;
  height: 40px;
  background-image: url(../imgs/page2_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page2_text {
  width: 90%;
  color: #202124;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Abel", sans-serif;
}
.page2_infotext {
  width: 30%;
  color: #a6adb4;
  font-size: 0.9rem;
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
}

/*section3*/

.page2_section3 {
  width: 80%;
  margin: 0 auto 200px auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}
.elephant {
  width: 100%;
  border-bottom: 2px solid #ebeded;
}
.elephant_pic {
  width: 100%;
  margin-bottom: 50px;
}
.elephant_text {
  color: #a6adb4;
  font-size: 0.9rem;
  font-family: "Roboto Slab", serif;
}
.elephant_text1 {
  color: #a6adb4;
  font-size: 0.9rem;
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
}

/*phone resolution*/

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }

  ul {
    display: none;
  }
  nav {
    display: none;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image_div {
    width: 100%;
    height: 288px;
  }
  .divtext {
    display: none;
  }
  .articles {
    width: 100%;
    margin: 10px 0 20px 0;
  }
  .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .div1 {
    width: 100%;
  }
  .section3 {
    width: 100%;
  }
  .happening_now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec3_title {
    margin-left: 24px;
  }
  .large_pic1 {
    height: 300px;
    margin-left: 24px;
  }
  .large_pic2 {
    height: 300px;
    margin: 24px;
  }
  .figure_pic1 {
    width: 427px;
    margin-left: 24px;
    border-radius: 10px;
    margin-top: 30px;
  }
  .figure_pic2 {
    width: 427px;
    margin-left: 24px;
    border-radius: 10px;
  }
  .figure_pic3 {
    width: 427px;
    margin-left: 24px;
    border-radius: 10px;
  }
  .article_title {
    margin-top: 20px;
    margin-left: 40px;
  }
  .footer_logo {
    display: none;
  }
  .footer_nav {
    display: none;
  }
  .footer_icones {
    margin: 22px 133px;
  }
  /*meore gverdi*/
  .world_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .worldnew_photo {
    width: 100%;
    height: 388px;
  }
  .form_right {
    width: 100%;
  }
  .form_div {
    width: 100%;
  }
  .information_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page2_text {
    width: 290%;
    margin-bottom: 30px;
  }
  .page2_infotext {
    width: 100%;
  }
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 780px;
  }
  .section1 {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image_div {
    width: 105%;
    height: 399px;
  }
  .divvs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    gap: 78px;
  }
  .lorem {
    width: 100%;
  }
  .below_div {
    margin-right: -211px;
  }
  .div1 {
    width: 100%;
  }
  .div1_1 {
    display: none;
  }
  .trending {
    gap: 30px;
  }
  .large_pics {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .large_pic1 {
    width: 100%;
  }
  .large_pic2 {
    width: 100%;
  }
  .articles {
    width: 50%;
    margin-left: 20px;
  }
  .happening_now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .figure_pic3 {
    display: none;
  }
  .small_pics {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 40px;
  }

  .figure_pic1 {
    width: 50%;
    margin-top: 69px;
    border-radius: 8px;
  }
  .figure_pic2 {
    width: 50%;
    /*margin-right: 65px;*/
    border-radius: 8px;
  }
  .world_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .worldnew_photo {
    width: 100%;
  }
  .page2_text {
    width: 50%;
  }

  .logo_text {
    width: 100%;
    margin: 0px 0px 40px 0px;
  }
  .information_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .page2_infotext {
    width: 46%;
  }
  .mobile-nav {
    display: none;
    opacity: none;
  }

  .hamburger {
    opacity: none;
    display: none;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(5, 5, 5);
  margin: 4px 0px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
      -ms-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
      -ms-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002f;
  padding-top: 120px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;

  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}